d-title,
d-article {
    font-family: 'Nanum Myeongjo', serif;
}

#disqus_thread {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif
}

e-latex {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif
}

d-article img {
    max-width: 100%;
    max-height: 50vh;
}

d-title h1 {
    font-weight: normal;
}